<div class="container">
  <div class="row">
    <h1 class="text-center">Cocktails</h1>
    <%= link_to "Add new Cocktail", new_cocktail_path, class: "text-left" %>
  </div>
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-sm-6 col-md-4 ">
        <div class="cocktail">
          <h3 class="cocktail-name"><%= link_to cocktail.name, cocktail_path(cocktail) %></h3>
          <p class="cocktail-ingredients">Ingredients: <%= cocktail.doses.count %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>

