.cocktail {
  height: 200px;
  width: 370px;
  background-color: rgba(0,0,0,0.1);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.4);
  border-radius: 3px;
  position: relative;
  margin: 10px;
}

.cocktail-name {
  margin: 0;
  height: 37px;
  padding: 0;
  position: absolute;
  top: 2px;
  left: 5px;
  a {
    color: white;
  }
}

.cocktail-ingredients {
  margin: 0;
  height: 25px;
  color: rgba(255,255,255,0.6);
  position: absolute;
  right: 10px;
  bottom: 5px;
}

